body {
    font-family: cursive; 
    background: linear-gradient(135deg, #fff128, #ffa527);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* RECUADRO */
.contenedor {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #4e73df;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2e59d9;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}